.popup__button-save {
  width: 358px;
  height: 50px;
  margin: 48px auto 0;
  padding: 0;
  border: none;
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.21;
  text-align: center;
  cursor: pointer;
  transition: opacity 0.4s ease-in-out;
}

.popup__button-save:hover {
  opacity: 0.8;
}

@media screen and (max-width: 620px) {
  .popup__button-save {
    width: 238px;
    height: 46px;
    margin: 45px auto 0;
    font-size: 14px;
  }
}
